= form_for @list do |f|
  - if @list.errors.any?
    #errors_explanations
      %h2= "#{pluralize(@lists.errors.count, "error")} prohibited this product_type from being saved"
      %ul
        -@lists.errors.full_messages.each do |message|
          %li= message
  .form-group.text-center.row
    = f.label :name
    %br
    = f.text_field :name, class: "col-md-6 col-md-offset-3 input-sm"

  = f.fields_for :elements do |a|
    = render "text", f: a, element_type: "text"

  .row
    .col-md-8.col-md-offset-2
      = link_to_add_fields "Add Text Field", f, :elements, "text"
      %br
      %br
      .actions
        = f.submit "Edit List", class: "btn btn-primary"
