= form_for @list do |f|
  - if @list.errors.any?
    #errors_explanations
      %h2= "#{pluralize(@lists.errors.count, "error")} prohibited this product_type from being saved"
      %ul
        -@lists.errors.full_messages.each do |message|
          %li= message
  .form-group.text-center.row
    = f.label :name
    %br
    = f.text_field :name, class: "col-md-6 col-md-offset-3 input-sm"

  = f.fields_for :elements do |a|
    = render a.object.element_type, f: a, element_type: a.object.element_type

  .row
    .col-md-8.col-md-offset-2.element_links
      %p
        = link_to_add_fields "Add Text Field", f, :elements, "text"
        |
        = link_to_add_fields "Add Numbered List", f, :elements, "numbered_list"
        |
        = link_to_add_fields "Add Unordered List", f, :elements, "unordered_list"
      %br
      .actions
        = f.submit "Submit", class: "btn btn-primary"
