.form-group.text-center
  = f.hidden_field :element_type, value: element_type
  = f.label "Numbered List"
  %br
  %ol
  = f.hidden_field :order_number, class: "order_number", value: ""
  = f.hidden_field :_destroy
  = link_to "[Remove]", "#", class: "remove_element"
  %br
