.form-group.text-center
  = f.hidden_field :type, value: element_type
  = f.label :content
  %br
  = f.text_area :content, cols: "60", rows: "4", placeholder: "Type your stuff"
  = f.hidden_field :_destroy
  %br
  = link_to "[Remove]", "#", class: "remove_element"
  %br
