.jumbotron
  %h1.text-center= "List Generator"
  %p.text-center= "In progress..."
.container
  .row
    .col-md-6
      .main_img#img1
    .col-md-6
      %h3.text-center= "Create Custom Documents"
      %p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec orci scelerisque, tempus eros sed, bibendum ex. Duis nulla diam, luctus nec libero at, auctor ornare massa. Nulla vitae lorem eu sem iaculis gravida. Nunc porttitor vehicula iaculis. Sed nec faucibus eros. Maecenas volutpat dui sit amet pharetra dignissim. In ac velit placerat, vehicula enim non, mollis justo. Sed faucibus tempor ex, in consectetur erat laoreet non."
.main2
  .container
    .row
      .col-md-6
        %h3.text-center= "Save To PDF"
        %p= "Create and save lists, documents, and more. Easily edit them to you liking and save them as a PDF."
      .col-md-6
        .main_img#img2
.container
  .row
    .col-md-6
      .main_img#img3
    .col-md-6
      %h3.text-center= "Save To PDF"
      %p= "Create and save lists, documents, and more. Easily edit them to you liking and save them as a PDF."
.container-fluid.footer
  %p.text-center= "Fill this in later."
